/* Estilo Global */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 0;
}

/* Container Principal */
.container {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
  min-height: fit-content;
  max-height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 2px solid #0056b3;
  outline-offset: -5px;
}

/* Título */
.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Botões */
.btn-sortear,
.btn-confirmar {
  background-color: #00003f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.btn-sortear:hover,
.btn-confirmar:hover {
  background-color: #0056b3;
}

/* Dica e Progresso */
.dica,
.progresso,
.tentativas {
  font-size: 1.1rem;
  color: #666;
  margin-top: 10px;
}

/* Input */
.input-letra {
  padding: 8px;
  border: 1px solid #00003f;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  text-align: center;
}

/* Formulário */
.form-letra {
  margin-top: 20px;
}

/* Mensagens de Jogo */
.status-message {
  font-weight: bold;
}

.win-message {
  color: green;
}

.lose-message {
  color: red;
}

/* Pontuação */
.pontuacao {
  font-size: 1.2rem;
  color: #333;
  margin-top: 20px;
}

/* Letras Erradas */
.letras-erradas {
  color: #ff0000;
  margin-top: 10px;
}

/* Container das Letras */
.letras-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.letras-container_div {
  margin-right: 20px;
  min-height: 50px;
  min-width: 50px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4eba35;
  font-weight: bold;
  border: 1px solid #00003f;
  outline: 1px solid #0056b3;
  outline-offset: 5px;
}

.status-message-validacao {
  text-align: center;
}

.form-letra {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.form-letra p {
  font-size: 1.2em;
}

/* Estilo para telas menores */
@media (max-width: 768px) {
  /* Container Principal */
  .container {
    width: 90%;
    padding: 15px;
  }

  /* Título */
  .title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  /* Botões */
  .btn-sortear,
  .btn-confirmar {
    padding: 8px 16px;
    font-size: 0.9rem;
    margin-top: 8px;
  }

  /* Dica e Progresso */
  .dica,
  .progresso,
  .tentativas {
    font-size: 1rem;
    margin-top: 8px;
  }

  /* Input */
  .input-letra {
    padding: 6px;
  }

  /* Pontuação */
  .pontuacao {
    font-size: 1.1rem;
    margin-top: 15px;
  }

  /* Letras Erradas */
  .letras-erradas {
    margin-top: 8px;
  }

  /* Container das Letras */
  .letras-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .letras-container_div {
    min-height: 30px;
    min-width: 30px;
    font-size: 1.4rem;
    margin-right: 10px;
    margin-left: 10px;
  }

  /* Mensagens */
  .status-message {
    font-size: 1rem;
  }
}
